@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <img src="~/wow.jpg" alt="main-img" class="main-img ml-5 mt-0" />
    <div class="text-md-center align-middle centered">
        <h1 class="display-1 pt-0 font-weight-bold text-light">Welcome</h1>
        <h3 class="text-light font-weight-light">Guy Vaserman &mdash; Personal trainer</h3>
        <div class="buttons-group">
            <a type="button" asp-action="Privacy" class="btn btn-success btn-lg full">&#10140; Start Now </a>
            <!--<button type="button" class="btn btn-warning btn-lg ">Stats</button>-->
        </div>
    </div>
</div>




