

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navi-color mb-0 box-shadow">
    <div class="container">
        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Guy's logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 main-nav">

                <li class="nav-item ml-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Trainees" asp-action="Index">מתאמנים</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Training_Program" asp-action="Index">תוכניות אימון</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Exercises" asp-action="Index">תרגילים</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">פרטיות</a>
                </li>
            </ul>
        </div>
    </div>
</nav>