


footer {
    background-color: black;
}


.navi-fonts {
    color: white;
}

.background-color {
    background-color: black;
}



.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
}

.buttons-group {
    top: 50%;
    left: 50%;
    transform: translate(0%, 150%);
}

.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


.full:link,
.full:visited {
    transition: font-size 0.2s;
    border-radius:0;
}


.full:hover,
.full:active {
    font-size: 25px;
}

